body {
    margin:0 auto;
    max-width: 980px;
}
.l-box {
    padding: 2em;
}



.grid-one, .text-box {
    overflow: hidden;
    position: relative;
    height: 250px;
    text-align: center;
}

.text-box {
    background: rgb(49, 49, 49); /* bluish grey */
    color: rgb(255, 190, 94); /* steel blue */
}

.text-box-head {
    color: #fff;
    padding-bottom: 0.2em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 24px;
}

.text-box-subhead {
    font-weight: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
@media (min-width: 30em) {
    .photo-box, .text-box {
        text-align: left;
    }

    .photo-box-thin {
        height: 250px;
    }
}
